
.MainContactDivContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 87vh;
    width: 20%;
    padding: 0px;
    margin: 0px;
    z-index: 5;
    margin-left: 80%;
    margin-top: 20%;
/*    margin-right: 50vh;*/
/*    padding-left: 50vh;*/
/*    padding-right: 50vh;*/
/*    background-color: black;*/
}



.ContactDivContainer {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background-color: black;
}



.TitleContactContainer {
    
}
