
.ModalPrintContainer {
    display: none;
/*    display: block;*/
	width: 90vh;
    height: 90vh;
	position: fixed;
    top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -45vh;
	margin-left: -45vh; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	border-radius: 0px;
	background: #ffffff;
    padding: 0;
    z-index: 5;
}

.DivPrintContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px solid;
    border-color: #bebebe;
}

.ContainerButtonPrint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0px;
}

.MainPrintContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.TitleLineContainer {
    text-align: center;  /* выравнивание заголовка по центру обертки */
    width: 100%;          /* ширина обертки. На самом деле для фиксированной верстки можно использовать и px, но лучше сразу адаптировать под разные устройства, т.к. это, что называется, тренди :-) */
    margin: 0 auto;      /* выравнивание обертки по центру документа */
    overflow: hidden;    
}
.TitleLineContainer span {
    position: relative;
}

.TitleLineContainer span:before {
    display: block;                  /* делаем псевдоэлемент блоком для последующего работы с ним, как с простым div'ом */
    width:1000px;                    /* устанавливаем ширину линию. Можно использовать произвольную ширину */
    content: '';                     /* позволяет вставлять генерируемое содержание в текст страницы, которое первоначально в тексте отсутствует */
    position: absolute;              /* абсолютное позиционирование для управления линиями */
    border-bottom: 1px solid #000;   /* бордер псевдо дива, т.е. сама линия */
    top:50%;                         /* позиционирование по вертикали */
    right: 50px;                    /* позиционирование по горизонтали */
}
 
/* аналогичные стили для второго псевдоэлемента */
 
.TitleLineContainer span:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #000;
    top:50%;
    left: 50px; 
}

.TitleLineContainer>span>img{
    width: 42px;
    height: 42px;
}

.TitlePrintDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 
}

.TitleTypeNotePrint {
    font-size: 28px;
}

.TextNotePrint {
    height: 100%;
}

.DateAndTypeNotePrint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ButtonPrint {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 55px;
}
.ButtonPrint:hover {
    text-decoration: none;
    outline: none;
    background-color: #bebebe;
}
.ButtonPrint>img{
    height: 42px;
    width: 42px;
}

.DivButtonPrintLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0px;
}
.DivButtonPrintCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0px;
}
.DivButtonPrintRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0px;
}



.ButtonCloseModalPrint {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 55px;
}
.ButtonCloseModalPrint:hover {
    text-decoration: none;
    outline: none;
    background-color: #bebebe;
}
.ButtonCloseModalPrint>img{
    height: 42px;
    width: 42px;
}
.TypePrintNote {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.DatePrintNote {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
