.TopDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    background-color: #e74c3c;
    padding: 0px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
.ActiveNumberDay{
    background-color: #e74c3c;
}