/*Стиль блока модального окна добавления записи*/
.ModalSettingAddNote {
    display: none;
    background-color: #ffffff;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 50%;
	left: 50%;
    margin-top: -175px;
	margin-left: -250px;
    z-index: 5;
    height: 350px;
    width: 500px;
}
/*Стиль блока модального окна добавления записи*/


/*Стиль заголовков для инпутов*/
/*
.TitleInputAddNote{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
*/
/*Стиль заголовков для инпутов*/



/*Заголовок блока модального окна добавления записи*/
.TitleModalSettindAddNote {
    font-size: 20px;
    background-color: #3498db;
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/*Заголовок блока модального окна добавления записи*/



/*Контайнер инпута заголовка*/
.ContainerTitle {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Контайнер инпута заголовка*/

/*Контейнер заголовка для инпута заголовка заметки*/
.ContainerTitleInputAddNote{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #848484;
    height: 40px;
}
/*Контейнер заголовка для инпута заголовка заметки*/

/*Контейнер для инпута заголовка заметки*/
.ContainerInputAddNote{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Контейнер для инпута заголовка заметки*/



/*Контейнер для заголовка и инпута выбора типа записки*/
.ContainerTypeNote {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #848484;
    font-size: 16px;
}
.Radio>input {
    margin: 5px;
    height: 25px;
    width: 25px;
    outline: none;
}
/*Контейнер для заголовка и инпута выбора типа записки*/

/*Контейнер для заголовка инпута выбора типа записки*/
.ContainerTitleInputTypeNote{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #848484;
    height: 40px;
}
/*Контейнер для заголовка инпута выбора типа записки*/

/*Контейнер для инпута выбора типа записи*/
.ContainerInputTypeNote{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Контейнер для инпута выбора типа записи*/



/*Контейнер для контейнеров даты и времени*/
.ContainerDate{
    height: 60px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ContainerTime{
    height: 60px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Контейнер для контейнеров даты и времени*/

.ContainerTitleInputDateNote{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #848484;
    height: 40px;
}

.ContainerTitleInputTimeNote{
/*    padding-right: 10px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 16px;
    color: #848484;
    height: 40px;
}

.InputContainerDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.InputContainerTime{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.ContainerButtonAddNote {
/*    padding-right:  2px;*/
/*    margin: 0;*/
    top: 80%;
    position: fixed;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}




.TitleModalSettindAddNote>img{
    margin-right: 5px;
    width: 26px;
    height: 26px;
}

.ContainerInputTitle>.group {
/*    width: 50px;*/
    height: 30px;
}
.ContainerInputTitle>.group>input {
/*    width: 50px;*/
    height: 30px;
}








/*Кнопки*/
.ButtonCloseAddNote{
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    
}
.ButtonCloseAddNote:hover{
/*    color: #ffffff;*/
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
}
.ButtonCloseAddNote>div{
    color: #ffffff;
    background-color: #3498db;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.ButtonCloseAddNote>div:hover{
        text-decoration: none;
    cursor: pointer;
     outline: none;
}







.ButtonAddNote{
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    
}
.ButtonAddNote:hover{
/*    color: #ffffff;*/
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
}
.ButtonAddNote>div{
    color: #ffffff;
    background-color: #3498db;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.ButtonAddNote>div:hover{
        text-decoration: none;
    cursor: pointer;
     outline: none;
}
/*Кнопки*/
