.ModalRestore {
    display: none;
    background-color: #ffffff;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 50%;
	left: 50%;
    margin-top: -100px;
	margin-left: -200px;
    z-index: 5;
    height: 200px;
    width: 400px;
}

.TitleModalRestore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #3498db;
    font-size: 20px;
    color: #fff;
}

.MainContainerDateModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MainContainerTimeModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ContainerTitleDateModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ContainerTitleTimeModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ContainerDateModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ContainerTimeModalRestore {
    /*    font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ContainerButtonModalRestore {
    /*font-family: 'Marmelad', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.ButtonRestoreNote {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}
.ButtonRestoreNote:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.ButtonRestoreNote>div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
}

.ButtonCloseRestoreNote {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}
.ButtonCloseRestoreNote:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.ButtonCloseRestoreNote>div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
}

.DivErrorRestore{
    display: none;
    justify-content: center;
    align-items: center;
    color: #f3ca29;
}