.TopDiv {
    background-color: #3498db;
}


.ButtonClose {
    background-color: #3498db;
}


.TitleSeting{
    background-color: #3498db;
}


.activesDivNote{
    border-left: 5px solid;
    border-left-color: #3498db;
}


.AddNoteDiv {
    background-color: #3498db;
}


.TitleDiv{
    background-color: #3498db;
}


.TabDiv:hover{
    border-color: #96c2e0;
}

.tabs_menu>.actives>div{
    border-color: #3498db;
}

.ButtonNewPass{
    background-color: #3498db; 
}

.TabUser>div>a{
    color: #3498db;
}
.TabUser>div>a:hover{
    color: #276e9f;
}


.ButtonCheked {
    background-color: #3498db;
}



.TitleModalSettindAddNote {
    background-color: #3498db;
}

.ButtonCloseAddNote>div{
    background-color: #3498db;
}

.ButtonAddNote>div{
    background-color: #3498db;
}



.TitleModalUpdateTitleNote {
    background-color: #3498db;
}

.ButtonUpdateTitleNote>div {
    background-color: #3498db;
}

.ButtonCloseTitleNote>div {
    background-color: #3498db;
}

.ButtonCompletedNote>div {
    background-color: #3498db;
}




.bar:before, .bar:after {
    background:#3498db;
}
@-webkit-keyframes inputHighlighter {
	from { background:#3498db; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#3498db; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#3498db; }
  to 	{ width:0; background:transparent; }
}



.TitleModalRestore {
    background-color: #3498db;
}
.ButtonRestoreNote>div {
    background-color: #3498db;
}
.ButtonCloseRestoreNote>div {
    background-color: #3498db;
}