.TopDiv {
    background-color: #9b59b6;
}


.ButtonClose {
    background-color: #9b59b6;
}


.TitleSeting{
    background-color: #9b59b6;
}


.activesDivNote{
    border-left: 5px solid;
    border-left-color: #9b59b6;
}


.AddNoteDiv {
    background-color: #9b59b6;
}


.TitleDiv{
    background-color: #9b59b6;
}


.TabDiv:hover{
    border-color: #bc8ad1;
}

.tabs_menu>.actives>div{
    border-color: #9b59b6;
}

.ButtonNewPass{
    background-color: #9b59b6; 
}

.TabUser>div>a{
    color: #9b59b6;
}
.TabUser>div>a:hover{
    color: #653b76;
}


.ButtonCheked {
    background-color: #9b59b6;
}




.TitleModalSettindAddNote {
    background-color: #9b59b6;
}

.ButtonCloseAddNote>div{
    background-color: #9b59b6;
}

.ButtonAddNote>div{
    background-color: #9b59b6;
}



.TitleModalUpdateTitleNote {
    background-color: #9b59b6;
}

.ButtonUpdateTitleNote>div {
    background-color: #9b59b6;
}

.ButtonCloseTitleNote>div {
    background-color: #9b59b6;
}

.ButtonCompletedNote>div {
    background-color: #9b59b6;
}




.bar:before, .bar:after {
    background:#9b59b6;
}
@-webkit-keyframes inputHighlighter {
	from { background:#9b59b6; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#9b59b6; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#9b59b6; }
  to 	{ width:0; background:transparent; }
}


.TitleModalRestore {
    background-color: #9b59b6;
}
.ButtonRestoreNote>div {
    background-color: #9b59b6;
}
.ButtonCloseRestoreNote>div {
    background-color: #9b59b6;
}