.TopDiv {
    background-color: #e74c3c;
}


.ButtonClose {
    background-color: #e74c3c;
}


.TitleSeting{
    background-color: #e74c3c;
}


.activesDivNote{
    border-left: 5px solid;
    border-left-color: #e74c3c;
}


.AddNoteDiv {
    background-color: #e74c3c;
}


.TitleDiv{
    background-color: #e74c3c;
}


.TabDiv:hover{
    border-color: #eb7f74;
}

.tabs_menu>.actives>div{
    border-color: #e74c3c;
}

.ButtonNewPass{
    background-color: #e74c3c; 
}

.TabUser>div>a{
    color: #e74c3c;
}
.TabUser>div>a:hover{
    color: #8e2f26;
}


.ButtonCheked {
    background-color: #e74c3c;
}





.TitleModalSettindAddNote {
    background-color: #e74c3c;
}

.ButtonCloseAddNote>div{
    background-color: #e74c3c;
}

.ButtonAddNote>div{
    background-color: #e74c3c;
}



.TitleModalUpdateTitleNote {
    background-color: #e74c3c;
}

.ButtonUpdateTitleNote>div {
    background-color: #e74c3c;
}

.ButtonCloseTitleNote>div {
    background-color: #e74c3c;
}

.ButtonCompletedNote>div {
    background-color: #e74c3c;
}




.bar:before, .bar:after {
    background:#e74c3c;
}
@-webkit-keyframes inputHighlighter {
	from { background:#e74c3c; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#e74c3c; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#e74c3c; }
  to 	{ width:0; background:transparent; }
}



.TitleModalRestore {
    background-color: #e74c3c;
}
.ButtonRestoreNote>div {
    background-color: #e74c3c;
}
.ButtonCloseRestoreNote>div {
    background-color: #e74c3c;
}